@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
  :root { 
    --blue-brand: #448CC2; 
    --blue-accent: #62B2E9; 
    --main-bg: #FAFAFA; 
    --sidebar-bg: #ADADAD;
    --editor-txt: #161616;
    --detail-txt: #000000;
    --note-txt: #393939;
    --background-image: url(https://img.freepik.com/free-vector/hand-drawn-blue-lined-paper-background_23-2151157575.jpg); 
    --blend-mode: normal; 
  }

  :root[data-theme='dark'] {
    --main-bg: #181818; 
    --sidebar-bg: #ADADAD;
    --editor-txt: #FFFFFF;
    --detail-txt: #D6D6D6;
    --note-txt: #666666;
    --blend-mode: overlay; 

  }

  :root[data-theme='light'] {
    --main-bg: #FAFAFA; 
    --sidebar-bg: #ADADAD;
    --editor-txt: #161616;
    --detail-txt: #000000;
    --note-txt: #393939;
    --blend-mode: normal; 
  }
}